//! **************************************************************************
// Written by: Map P.20131013 on Fri Apr 05 14:22:03 2019
//! **************************************************************************

SCHEMATIC START;
NET "Clk_BUFGP/IBUFG" BEL "Clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

