//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 13 11:58:02 2019
//! **************************************************************************

SCHEMATIC START;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

